*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.app{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.time-select, .sound-picker, .player-container{
height: 80%;
flex:1;
}
.time-select{
    background: lightblue;
}
.sound-picker{
    background: lightgreen;
}
.player-container{
    background: lightcoral;
}